<app-nav-bar [fixed]="true"></app-nav-bar>
<app-page-title title="Join Us"></app-page-title>
<main class="full-page">
  <section class="container pb-3 my-3">
    <mat-form-field>
      <mat-label>Role</mat-label>
      <mat-select #roleSelect (selectionChange)="roleChange($event)">
        <mat-option *ngFor="let role of roles" [value]="role">{{ role | titlecase }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="roleSelect.value === role.ACADEMY || roleSelect.value === role.STUDIO || roleSelect.value === role.SPONSOR">
      <h2>Vinculation</h2>
      <p class="mb-1"> Be part of the community and add an new that involves the cluster!</p>
  <form [formGroup]="vinculationForm" (ngSubmit)="vinculate()">
    <ng-template matStepLabel>General Information</ng-template>
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf="vinculationForm.controls.email.hasError('required')">
        Email is required
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="full-width">
      <mat-label>Why</mat-label>
      <textarea matInput #message maxlength="350" placeholder="The last week..."
        formControlName="why"></textarea>
      <!-- <mat-hint align="start"> </mat-hint> -->
      <mat-hint align="end">{{message.value.length}} / 350</mat-hint>
      <mat-error *ngIf="vinculationForm.controls.why.hasError('required')">
        Why is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Phone</mat-label>
      <input matInput placeholder="Phone" formControlName="phone">
      <mat-error *ngIf="vinculationForm.controls.phone.hasError('required')">
        Phone is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Role</mat-label>
      <mat-select placeholder="Role" formControlName="roleType">
        <mat-option>Uno</mat-option>
        <mat-option>Dos</mat-option>
        <mat-option>Tres</mat-option>
      </mat-select>
      <mat-error *ngIf="vinculationForm.controls.roleType.hasError('required')">
        Role is required
      </mat-error>
    </mat-form-field>
    <!-- <br>
    <div class="button-row">
      <button mat-button matStepperNext>Next</button>
    </div> -->
  </form>
    </div>
    <div *ngIf="roleSelect.value === role.INDEPENDANT">
      <h2>Independant</h2>
    </div>
    <div *ngIf="!roleSelect.value">
      <p>Please select role</p>
    </div>
  </section>
</main>
<app-footer></app-footer>
