<section class="contact-section py-sm-3 py-2 mb-5 full-page" id="contact">
  <!-- /* REGISTRO DE NUEVO ESTUDIO */ -->

  <div class="container">
    <h1 style="font-weight: bold; font-size: x-large;" > Formulario de inscripción</h1>
    <div>
      <h5 class="cont-form" style="font-size: large;">Datos de Contacto</h5>
      <p>Esta informacion no sera pública. Solo para manejo y registro interno de Videogames Colombia.</p>
    </div>
    <div class="row">
      <div class="contact-form" style="width: 70em;">
        <form action="#" method="post" class="register">
          <div class="form-group">
            <label>Nombre</label>
            <input class="form-control" type="text" name="email" required="">
          </div>
          <div class="form-group">
            <label>Apellido</label>
            <input class="form-control" type="text" name="phone" required="">
          </div>
          <div class="form-group">
            <label>Celular</label>
            <input class="form-control" type="email" name="email" required="">
          </div>
        </form>
      </div>   
      
    </div>
  </div>
  <div class="container">
    <div>
      <h5 class="cont-form" style="font-size: large;">Datos de la Entidad</h5>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="contact-form">
          <form action="#" method="post" class="register">
            <div class="form-group">
              <label>Razón Social</label>
              <input class="form-control" type="text" name="email" required="">
            </div>
            <div class="form-group">
              <label>Describa brevemente su entidad</label>
              <textarea class="form-control"></textarea>
            </div>
            <div class="form-group">
              <label>Ciudad</label>
              <input class="form-control" type="email" name="email" required="">
            </div>
            <div class="form-group">
              <label>Departamento</label>
              <input class="form-control" type="email" name="email" required="">
            </div>
            <div class="form-group">
              <label>Dirección</label>
              <input class="form-control" type="email" name="email" required="">
            </div>
            <div class="form-group">
              <label>Telefono</label>
              <input class="form-control" type="email" name="email" required="">
            </div>
          </form>
        </div>   
      </div>
        <div class="col-lg-6">
          <div class="contact-form">
            <form action="#" method="post" class="register">
              <div class="form-group">
                <label>Link sitio web</label>
                <input class="form-control" type="text" name="email" required="">
              </div>
              <div class="form-group">
                <label>Logo entidad</label>
                <div class="input-group">
                  <!-- <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                  </div> -->
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                      aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Correo Electrónico de la Entidad</label>
                <input class="form-control" type="email" name="email" required="">
              </div>
              <div class="form-group">
                <label>Tipo de entidad</label>
                <input class="form-control" type="email" name="email" required="">
              </div>
              <div class="form-group">
                <label>¿Qué servicios ofrece su entidad?</label>
                <input class="form-control" type="email" name="email" required="">
              </div>
              <div class="form-group">
                <label>¿Cómo su entidad aportaría a nuestro equipo? </label>
                <textarea class="form-control"></textarea>
              </div>
             
            </form>
          </div>   

      </div>
      
      
    </div>
  </div>

</section>
