<div class="container-fluid bg-dark">
  <div class="container text-center text-white pt-4">
    <h1 class="d-none d-sm-block">What people say?</h1>
  </div>
  <div id="myTestimonials" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myTestimonials" attr.data-slide-to="{{ i }}"
          [class.active]='f'
          *ngFor="let testimonio of testimonios; let i = index; let f = first"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item" [class.active]='f' *ngFor="let testimonio of testimonios; let f = first">
        <div class="container">
          <div class="carousel-caption">
            <!-- <blockquote class="blockquote text-center">
              <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote> -->
            <h2>{{ testimonio.mesg }}</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit delectus omnis sequi pariatur</p>
            <img class="rounded" src="{{ testimonio.img }}" alt="author" height='100' width='100'>
            <p class="pt-2 mb-0">{{ testimonio.author }}</p>
            <small>{{ testimonio.authorInfo }}</small>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myTestimonials" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myTestimonials" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
