.services h3 {
    text-align: center;
    font-size: 50px;
    letter-spacing:2px;
    font-weight: bold;
    font-family: 'Montserrat';
    color: #000;
    text-transform:uppercase;
}

p.w3_dwn {
    width: 60%;
    margin: 0 auto;
    color: #777;
    text-align: center;
    font-size: 15px;
    line-height: 1.8em;
    font-weight: 400;
}
.w3l_abtdwn {
    margin: 75px 0px 0px;
}
.w3l_r1 {
    text-align: center;
}
.w3l_c1 {
    text-align: center;
}
.w3l_l1 {
    text-align: center;
}


 /* .w3_but .btn {
    display: inline-block;
    padding: 5px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: none;
    border-radius: 20px;
    letter-spacing: 2px;
    outline: none;
    color: #fff;
    background-color:transparent;
    border: 1px solid #fff;
	margin-top:17px;
   } */
.w3_rm {
    text-align: center;
    margin: 50px 0px 0px;
}
.btn-primary:hover {
    color: #fff;
    background-color:none;
    border-color: transparent;
}
.w3l_abtdwn p {
    color: #000;
}
.w3_rm a {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}
