<app-nav-bar [fixed]="true"></app-nav-bar>
<app-page-title title="Services"></app-page-title>

<main class="full-page">
  <div class="container text-left py-5">
    <div class="row justify-content-around" *ngIf="services && services.length else empty">
      <div class="col-lg-6" *ngFor="let service of services" [id]="service.id">
        <div class="service-content mb-3" style="text-align: center;">
          <img class="mb-2" [src]="service.image_url" [alt]="service.name" width="100%" height="auto">
          <!-- <img class="mb-2 rounded-lg" src="https://source.unsplash.com/600x600/?technology"
            [alt]="service.name" width="30%" height="auto"> -->
          <h5 class="font-weight-bold">{{ service.name }}</h5>
          <p>{{ service.description }}</p>
          <a [href]="service.link" *ngIf="service.link">
            <span class="mr-1"><i class="fas fa-plus"></i></span>
            View more
          </a>
        </div>
      </div>
    </div>
    <ng-template #empty>
      <p class="text-center pb-2">There are no services to show.</p>
    </ng-template>
  </div>
</main>

<app-footer></app-footer>
