<footer class="container-fluid p-0 bg-dark text-light">
  <span class="float-right p-3"><a href="#"><fa-icon [icon]="faArrowUp" size="3x"></fa-icon></a></span>
  <div class="container pt-5 px-4 pb-1">
    <div class="row align-items-center">
      <div class="col-6">
        <div class="row pb-1">
          <div class="col-6">
            <span class="font-weight-bold">Contact Us</span>
          </div>
        </div>
        <div class="row pb-3">
          <div class="col-6">
            <a href="#">info@info.co</a>
          </div>
        </div>
        <div class="row pb-1">
          <div class="col-6">
            <span class="font-weight-bold">Follow Us</span>
          </div>
        </div>
        <div class="row justify-content-start">
          <div class="col-2">
            <a href="#" class="text-reset"><fa-icon [icon]="faFacebook" size="2x"></fa-icon></a>
          </div>
          <div class="col-2">
            <a href="#" class="text-reset"><fa-icon [icon]="faInstagram" size="2x"></fa-icon></a>
          </div>
          <div class="col-2">
            <a href="#" class="text-reset"><fa-icon [icon]="faTwitter" size="2x"></fa-icon></a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row pb-1">
          <span class="font-weight-bold">Location</span>
        </div>
        <div class="row">
          <span>Cra 53 # 70 - 12</span>
        </div>
        <div class="row">
          <span>Barranquilla, Atlantico</span>
        </div>
        <div class="row">
          <span>Colombia</span>
        </div>
      </div>
    </div>
    <div class="row pt-5">
      <p>&copy; 2020 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </div>
  </div>
</footer>
