<div class="container" *ngIf="show">
  <div class="row align-items-center text-center">
    <div class="col-md-5">
      <!-- <span style="font-size: 10rem;"><i class="far fa-frown"></i></span> -->
      <a href="https://www.freepik.es/fotos-vectores-gratis/fondo" style="cursor: initial;" target="_blank">
        <img src="/assets/empty-page.png" width="100%" height="auto">
      </a>
    </div>
    <div class="col-md-7 align-self-center">
      <h2 class="font-weight-bold">Page without information</h2>
      <h3>The page you are trying to access has no information to display.</h3>
    </div>
  </div>
</div>
