<div id="myVideogames" class="album py-5 bg-light">
  <div class="container">
    <h2 class="text-center">Featured games</h2>
    <app-search [resourceType]="resourceType" (data)="searchResult($event)"></app-search>
    <button *ngIf="viewResult" class="btn btn-outline-danger mt-3 mt-md-0 mb-4" (click)="clear()">Clear results</button>
    <div class="row mt-3 justify-content-around" *ngIf="selectedGames && selectedGames.length else empty">
      <div class="col-lg-4 col-md-6" *ngFor="let game of selectedGames">
        <div class="card mb-4">
          <div class="box">
            <img [src]="game.image_url" [alt]="game.name" class="rounded-lg" width="100%" height="300">
            <!-- <img src="https://source.unsplash.com/600x600/?videogame" class="img-fluid rounded-lg"> -->
            <div class="box-content">
              <h3 class="title">{{ game.name }}</h3>
              <span class="post">{{ game.description }}</span>
              <span class="tags">
                <span *ngFor="let tag of game.tags; let f = first"
                  class="tag badge badge-pill badge-info"
                  [class.ml-1]="!f">
                  {{ tag }}
                </span>
              </span>
              <ul class="social">
                <li><a [href]="game.link"><span><i class="fas fa-link"></i></span></a></li>
                <li><a [href]="game.video"><span><i class="fab fa-youtube"></i></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #empty>
      <p class="my-4">There are no games available for display.</p>
    </ng-template>
    <div class="row justify-content-center" *ngIf="games.length > itemsPerPage">
      <pagination [totalItems]="games.length" (pageChanged)="pageChanged($event)"
        [itemsPerPage]="itemsPerPage" [maxSize]="5" *ngIf="selectedGames && selectedGames.length">
      </pagination>
    </div>
  </div>
</div>
