<!-- <app-nav-bar></app-nav-bar>
 -->
<app-nav-bar [fixed]="true"></app-nav-bar>
<app-page-title title="Events & News"></app-page-title>

 <main class="container my-4 full-page">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-auto">
        <bs-datepicker-inline
          [bsValue]="today"
          [minDate]="minDate"
          [maxDate]="maxDate"
          [dateCustomClasses]="dateCustomClasses"
          (bsValueChange)="onDateChange($event)">
        </bs-datepicker-inline>
      </div>
      <div class="col-md">
        <div class="card-body">
          <!-- <h4 class="card-title">Events</h4> -->
          <div *ngIf="selectedEvent">
            <div class="d-flex w-100 justify-content-between pb-3">
              <button class="btn btn-outline-primary" (click)="selectEvent()">Volver</button>
              <small>{{ selectedEvent.date | date }}</small>
            </div>
            <h5 class="mb-1">{{ selectedEvent.title }}</h5>
            <small>{{ selectedEvent.place }}</small>
            <p class="mb-1 event overflow-auto">{{ selectedEvent.description }} at eget metus.</p>
          </div>
          <div *ngIf="selectedEvents.length !== 0 && !selectedEvent else ngevents">
            <h5>{{ selectedDate | date }}</h5>
            <div class="list-group overflow-auto">
              <a *ngFor="let event of selectedEvents" class="list-group-item list-group-item-action"
                (click)="selectEvent(event)">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{ event.title }}</h5>
                  <small>{{ event.date | date }}</small>
                </div>
                <p class="mb-1 text-truncate">{{ event.description }} at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small>{{ event.place }}</small>
              </a>
            </div>
          </div>
          <ng-template #ngevents>
            <div class="list-group overflow-auto" *ngIf="!selectedEvent">
              <a *ngFor="let event of events" class="list-group-item list-group-item-action"
                (click)="selectEvent(event)">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{ event.title }}</h5>
                  <small>{{ event.date | date }}</small>
                </div>
                <p class="mb-1 text-truncate">{{ event.description }} at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <small>{{ event.place }}</small>
              </a>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row pt-3" *ngIf="meetUp">
    <div class="col">
      <h3>MeetUps</h3>
      <h4>{{ meetUp.name }}</h4>
      <div [innerHTML]="meetUp.description"></div>
    </div>
    <div class="col-md-3 d-none d-md-block"><img [src]="meetUp.group_photo.photo_link" alt="MeetUp group" height="auto" width="70%" class="img-fluid"></div>
  </div> -->
  <h4>Eventos en MeetUps</h4>
  <div id="meetup" class="list-group overflow-auto" *ngIf="meets && meets.length else noMeets">
    <a [href]="meet.link" class="list-group-item list-group-item-action" *ngFor="let meet of meets" target="_blank">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ meet.name }}</h5>
        <small>{{ meet.local_date }}</small>
      </div>
      <div [innerHTML]="meet.description"></div>
      <!-- <p class="mb-1">{{ meet.description }}</p> -->
      <small>{{ meet.visibility }}</small>
    </a>
  </div>
  <ng-template #noMeets>
    <p>No hay eventos programados en MeetUps por el momento</p>
  </ng-template>

  <!-- News -->
  
  <!--  <app-news></app-news> -->
  
  <!-- Para prueba: -->
	<div class="new-w3ls py-5 bg-light" id="new">
		<div class="container py-xl-5 py-lg-3">
      <h2 style="font-weight: bold;">News</h2>
      <br>
			
			<div class="row package-grids">
				<div class="col-md-4 new-w3">
					<div class="news-top">
						<a href="single.html">
							<img src="https://source.unsplash.com/340x150/?video,game" alt="" class="img-fluid">
						</a>
					</div>
					<div class="news-bottom p-4 bg-white">
						<h4 class="text-dark mb-3">Sit voluptatem accusantium doloremque</h4>
						<h3 class="my-3">18 Sep 2018</h3>
						<a href="single.html">
							<i class="fa fa-user mr-2"></i>Posted by accusantium</a>
					</div>
				</div>
				<div class="col-md-4 new-w3 my-md-0 my-5">
					<div class="news-top">
						<a href="single.html">
							<img src="https://source.unsplash.com/340x150/?girls" alt="" class="img-fluid">
						</a>
					</div>
					<div class="news-bottom p-4 bg-white">
						<h4 class="text-dark mb-3">Sit voluptatem accusantium doloremque</h4>
						<h3 class="my-3">21 Sep 2018</h3>
						<a href="single.html">
							<i class="fa fa-user mr-2"></i>Posted by accusantium</a>
					</div>
				</div>
				<div class="col-md-4 new-w3">
					<div class="news-top">
						<a href="single.html">
							<img src="https://source.unsplash.com/340x150/?kids" alt="" class="img-fluid">
						</a>
					</div>
					<div class="news-bottom p-4 bg-white">
						<h4 class="text-dark">Sit voluptatem accusantium doloremque</h4>
						<h3 class="my-3">30 Sep 2018</h3>
						<a href="single.html">
							<i class="fa fa-user mr-2"></i>Posted by accusantium</a>
					</div>
        </div>
        
			</div>
			<div class="text-center">
        <!-- <nav aria-label="Page navigation games">
          <ul class="pagination justify-content-center">
            <li class="page-item"
                [class.disabled]="selectedPage == 0">
              <a class="page-link" pageScroll [pageScrollDuration]='0' href="#myVideogames" (click)="previous()" tabindex="-1"
                [attr.aria-disabled]="selectedPage == 0 ? 'true' : null">1</a>
            </li>
            <li class="page-item" *ngFor='let p of array(pags)'
                [class.active]='p == selectedPage'
                [attr.aria-current]="p == selectedPage ? 'page' : null">
              <a class="page-link" pageScroll [pageScrollDuration]='0' href="#myVideogames" (click)="to(p)" *ngIf='p != selectedPage'>{{ p+1 }}</a>
              <span class="page-link" *ngIf='p == selectedPage'>
                {{ p+1 }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
            <li class="page-item"
                [class.disabled]="selectedPage == pags-1">
              <a class="page-link" pageScroll [pageScrollDuration]='0' href="#myVideogames" (click)="next()"
                  [attr.aria-disabled]="selectedPage == pags-1 ? 'true' : null">
                2
              </a>
            </li>
          </ul>
        </nav> -->
				<a href="new.html" class="btn button-style mt-sm-5 mt-4">Read More</a>
			</div>
		</div>
	</div>
  <!-- News -->
  
</main>
<app-footer></app-footer>
