.card.mb-3 {
  min-height: 340px;
}

@media (min-width: 700px) {
  /* Bump up size of carousel content */
  .col-md {
    max-width: calc(100% - 308px);
  }
}


::ng-deep.theme-green {
  box-shadow: none;
  // height: 80vh;

  .bs-datepicker-body table td span.date-event {
    background-color: rgb(200, 200, 200);
    // color: #fff;
  }

  .bs-datepicker-head, .bs-datepicker-body table td span.selected {
    // background-color: #143d6b;
    background-color: white;
  }

  .bs-datepicker-body table td span.selected {
    border-style: solid;
    border-width: thin;
    border-color: #000;
  }

  .bs-datepicker-body table td {
    color: #000;
  }

  .bs-datepicker-body table td.week span{
    // color: #268bff;
    color: rgb(140, 140, 140);
  }

}

.list-group {
  max-height: 300px;
  margin-bottom: 10px;
  -webkit-overflow-scrolling: touch;
  .list-group-item-action {
    color: #212529;
    cursor: pointer;
  }
}

.event {
  max-height: 210px;
}

.list-group::-webkit-scrollbar {
	width: 10px;
  background-color: #F5F5F5;
}

.list-group::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
  border: 1px solid #ccc;
}

.list-group::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(to left, #fff, #e4e4e4);
  border: 1px solid #aaa;
}

.list-group::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.list-group::-webkit-scrollbar-thumb:active {
  background: linear-gradient(to left, #22ADD4, #1E98BA);
}

#meetup {
  max-height: 500px;
}

.col-lg-10{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-block-end: 15px;
}

/* <!-- News --> */
.news-bottom {
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.13);
}

.bg-light { /* Fondo de card noticias */
  background-color: white !important;
}

.new-w3 {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.new-w3:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
}

.news-bottom.p-4 h3 {
  font-size: 18px;
  color: #5B87DA;
}

.news-bottom h4 {
  font-size: 23px;
  line-height: 1.4;
  letter-spacing: 1px;
}

.news-bottom i {
  color: #5B87DA;
}

.news-bottom a {
  color: #999;
  letter-spacing: 1px;
  font-size: 15px;
}

.news-bottom a:Hover {
  color: #000;
}
.button-style {
  padding: 12px 25px;
  border: none;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid #5B87DA;
  background: #5B87DA;
}

.button-style:hover {
  opacity: .9;
  color: #fff;
}