<app-nav-bar></app-nav-bar>
<main class="album py-5 bg-light full-page">
  <div class="container pb-3">
    <h2>Video Game Studios</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6" *ngFor="let studio of studios" >
        <div class="card mb-4 shadow-sm">
          <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"/>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ studio.name }}</text>
          </svg> -->
          <img class="bd-placeholder-img card-img-top" src="{{ studio.img }}" alt="Studio" width="100%" height="250">
          <div class="card-body">
            <h5 class="card-title">{{ studio.name }}</h5>
            <h6 class="card-subtitle text-muted">{{ studio.type }}</h6>
            <span *ngFor="let tag of studio.tags; let i = index"
              class="badge badge-pill badge-info"
              [class.ml-1]="i !== 0">
              {{ tag }}
            </span>
            <p class="card-text mt-2">{{ studio.description }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a class="btn btn-sm btn-outline-primary" [routerLink]="['/studios/info', studio.id]">View</a>
                <button type="button" class="btn btn-sm btn-outline-primary">Discard</button>
              </div>
              <small class="text-muted">{{ studio.city }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
