<section class="container py-4 full-page">
  <div class="row" *ngIf="resources && resources.length else empty">
    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action" *ngFor="let faq of this.categories; let i = index; let f = first"
          [class.active]="f" id="list-{{i}}-list" data-toggle="list" href="#list-{{i}}" role="tab">
          {{faq.cat}}
        </a>
        <!-- <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a> -->
        <!-- <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a> -->
        <!-- <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a> -->
      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent">
        <div *ngFor="let category of this.categories; let i = index; let f = first" class="tab-pane fade" [ngClass]="{ 'show': f, 'active': f }"
          id="list-{{i}}" role="tabpanel" attr.aria-labelledby="list-{{i}}-list">
          <!-- <p>{{ category.cat }} sit amet consectetur adipisicing elit. Architecto sed voluptate perferendis vel rerum quod nemo tenetur voluptatibus, doloremque error reprehenderit molestiae ipsam sunt quasi provident dignissimos harum? Iure, labore!</p> -->
          <accordion [closeOthers]="true">
            <accordion-group *ngFor="let faq of category.faqs; let f = first"
             [heading]="faq.question" [isOpen]="f">
              {{ faq.answer }} This content is straight in the template.
            </accordion-group>
          </accordion>
        </div>
        <!-- <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sed voluptate perferendis vel rerum quod nemo tenetur voluptatibus, doloremque error reprehenderit molestiae ipsam sunt quasi provident dignissimos harum? Iure, labore!</p>
        </div> -->
        <!-- <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
          <div class="accordion" id="accordionQuestions"
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Collapsible Group Item #1
                  </button>
                </h2>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionQuestions">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Collapsible Group Item #2
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionQuestions">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Collapsible Group Item #3
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionQuestions">
                <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sed voluptate perferendis vel rerum quod nemo tenetur voluptatibus, doloremque error reprehenderit molestiae ipsam sunt quasi provident dignissimos harum? Iure, labore!</p>
        </div>
        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sed voluptate perferendis vel rerum quod nemo tenetur voluptatibus, doloremque error reprehenderit molestiae ipsam sunt quasi provident dignissimos harum? Iure, labore!</p>
        </div>
        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sed voluptate perferendis vel rerum quod nemo tenetur voluptatibus, doloremque error reprehenderit molestiae ipsam sunt quasi provident dignissimos harum? Iure, labore!</p>
        </div> -->
      </div>
    </div>
  </div>
  <ng-template #empty>
    <p>There is no faq's to show.</p>
  </ng-template>
</section>

<!-- <app-nav-bar [fixed]="true"></app-nav-bar>
<app-page-title title="FAQ"></app-page-title>

<main class="container py-4 full-page">
  <div class="row" *ngIf="faqs && faqs.length else empty">

    <div class="col-lg-4" *ngFor="let faqitem of faqs">
          <div class="nav nav-pills faq-nav" id="faq-tabs" role="tablist" aria-orientation="vertical">
              <a [href]="faqitem.id" class="nav-link active" data-toggle="pill" role="tab" [attr.aria-controls]="faqitem.id" aria-selected="true">
                <i class="mdi mdi-help-circle"></i> {{ faqitem.category }}
              </a>
          </div>
    </div>
      <div class="col-lg-8" *ngFor="let faqitem of faqs">
          <div class="tab-content" id="faq-tab-content">
              <div class="tab-pane show active" [id]="faqitem.id" role="tabpanel" aria-labelledby="tab1">
                  <div class="accordion" id="accordion-tab-i">
                      <div class="card">
                          <div class="card-header" id="accordion-tab-1-heading-1">
                              <h5>
                                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#accordion-tab-1-content-1"
                                  aria-expanded="false" aria-controls="accordion-tab-1-content-1">
                                  {{ faqitem.question }}</button>
                              </h5>
                          </div>
                          <div class="collapse show" id="accordion-tab-1-content-1" aria-labelledby="accordion-tab-1-heading-1" data-parent="#accordion-tab-1">
                              <div class="card-body">
                                  <p>{{ faqitem.answer }}</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <ng-template #empty>
    <p>There is no faq's to show.</p>
  </ng-template>
</main> -->
