<section class="container py-4 full-page">
  <div class="row" *ngIf="resources && resources.length else empty">
    <div class="col-md-4 pb-3">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action" *ngFor="let faq of this.categories; let i = index; let f = first"
          [class.active]="f" id="list-{{i}}-list" data-toggle="list" href="#list-{{i}}" role="tab">
          {{faq.cat}}
        </a>
      </div>
    </div>
    <div class="col-md-8 pb-3">
      <div class="tab-content" id="nav-tabContent">
        <div *ngFor="let category of this.categories; let i = index; let f = first" class="tab-pane fade" [ngClass]="{ 'show': f, 'active': f }"
          id="list-{{i}}" role="tabpanel" attr.aria-labelledby="list-{{i}}-list">
          <!-- <p>{{ category.cat }} sit amet consectetur adipisicing elit. Architecto sed voluptate perferendis vel rerum quod nemo tenetur voluptatibus, doloremque error reprehenderit molestiae ipsam sunt quasi provident dignissimos harum? Iure, labore!</p> -->
          <accordion [closeOthers]="true">
            <accordion-group *ngFor="let faq of category.faqs; let f = first"
             [heading]="faq.question" [isOpen]="f">
              {{ faq.answer }}
            </accordion-group>
          </accordion>
        </div>
      </div>
    </div>
  </div>
  <ng-template #empty>
    <p>There are no faq's to show.</p>
  </ng-template>
</section>
