<div class="container-fluid bg-overlay"
  [ngStyle]="{ 'background-image': 'linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url(' + data.image_url + ')'}">
	<div class="row justify-content-center text-center">
    <h1 class="font-weight-bold">{{ data.title }}</h1>
  </div>
  <!-- <div class="row justify-content-center text-center pt-3">
    <h4>{{ data.text }}</h4>
  </div>
  <div></div>  -->

  <div class="features4-grids text-left row mt-5">
    <div class="col-lg-4 col-md-6 features4-grid" data-aos="fade-up">
      <div class="features4-grid-inn" style="text-align: center; align-items: center;">
        <span class="fas fa-lightbulb fa-3x" aria-hidden="true"></span>
        <br>
        <h5><a href="#URL">Innovation center</a></h5>
        <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio consectetur.</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 features4-grid" data-aos="fade-up">
        <div class="features4-grid-inn" style="text-align: center; align-items: center;">
          <span class="fa fa-ghost fa-3x" aria-hidden="true"></span>
          <h5><a href="#URL">Incubator</a></h5>
          <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio consectetur.</p>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 features4-grid third" data-aos="fade-up">
      <div class="features4-grid-inn" style="text-align: center; align-items: center;">
        <span class="fa fa-rocket fa-3x" aria-hidden="true"></span>
        <h5><a href="#URL">Accelerator</a></h5>
        <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio consectetur.</p>

      </div>
    </div>
  </div>

  <div class="row justify-content-center pt-3" *ngIf="data.link">
    <a class="btn btn-primary btn-lg">Get Started</a>
  </div>
</div>
