/* You can add global styles to this file, and also import other style files */
@charset 'utf-8';

@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/helpers'; /* Placeholders and utils classes */

@import 'base/base';
@import 'base/reset';
@import 'base/typography';

@import '../../node_modules/bootstrap/scss/bootstrap';

/* You can add global styles to this file, and also import other style files */
body {
  .h1, h2{
    font-family: 'Exo 2', serif;
    font-weight: bold;
    //font-style: normal;
    //font-size: 2.5rem;
  } 
  .p{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
  }
  .h3, h4,h5{
    font-weight: normal;
  }
}
  

#content-main {
  flex: 1 0 auto;
}

.full-page {
  min-height: calc(100vh - 480px);
}

// .bg-dark {
//   background-color: #000000 !important;
// }
