<app-nav-bar [fixed]="true"></app-nav-bar>
<main class="full-page">
  <ng-template appItemHost>

  </ng-template>
  <!-- Inicio Section sponsors -->
  <br>
  <h2 class="mb-md-4 text-center">Sponsors</h2>
  <section class="partners py-7">
    <div class="container">
      <div class="row partner-grids text-center">
        <div class="col-sm-2 col-4">
          <a href="#"><i class="fab fa-angrycreative fa-5x"></i></a>
        </div>
        <div class="col-sm-2 col-4">
          <a href="#"><i class="fab fa-apper fa-5x"></i></a>
        </div>
        <div class="col-sm-2 col-4">
          <a href="#"><i class="fab fa-apple-pay fa-5x"></i></a>
        </div>
        <div class="col-sm-2 col-4">
          <a href="#"><i class="fab fa-aviato fa-5x"></i></a>
        </div>
        <div class="col-sm-2 col-4">
          <a href="#"><i class="fab fa-aws fa-5x"></i></a>
        </div>
        <div class="col-sm-2 col-4">
          <a href="#"><i class="fab fa-amazon-pay fa-5x"></i></a>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <!-- Fin Section sponsors -->


</main>
<app-footer></app-footer>
