<div class="container-fluid bg-dark">
  <h1 class="text-center text-white py-4 font-weight-bold">What People Say</h1>
  <div id="myTestimonials" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myTestimonials" [attr.data-slide-to]="i"
          [class.active]='f'
          *ngFor="let testimonio of this.data.items; let i = index; let f = first"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item" [class.active]='f' *ngFor="let testimonio of this.data.items; let f = first">
        <div class="container">
          <div class="carousel-caption h-100">
            <div class="container h-100">
              <div class="row h-100 align-items-center justify-content-center">
                <div class="col-md-8 order-2 order-md-1">
                  <!-- <h4>{{ testimonio.title }}</h4>
                  <p>{{ testimonio.text }} -- lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit delectus omnis sequi pariatur</p>
                  <p class="pt-2 mb-0">{{ testimonio.author_name }}</p>
                  <small>{{ testimonio.author_info }}</small> -->
                  <h4>{{ testimonio.title }}</h4>
                  <blockquote class="blockquote text-center">
                    <p class="mb-2">{{ testimonio.text }} -- Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit delectus omnis sequi pariatur</p>
                    <footer class="blockquote-footer">{{ testimonio.author_name }} <br><cite title="Source Title">{{ testimonio.author_info }}</cite></footer>
                  </blockquote>
                </div>
                <div class="col-6 col-sm-5 col-md-4 order-1 order-md-2 d-none d-sm-block">
                  <img class="rounded" src="https://source.unsplash.com/800x800/?person" [alt]="testimonio.author_name" width='100%' height='auto'>
                </div>
              </div>
            </div>
            <!-- <blockquote class="blockquote text-center">
              <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
              <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote> -->
            <!-- <h4>{{ testimonio.title }}</h4>
            <p>{{ testimonio.text }} -- lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit delectus omnis sequi pariatur</p>
            <img class="rounded" [src]="testimonio.image_url" alt="author" height='100' width='100'>
            <p class="pt-2 mb-0">{{ testimonio.author_name }}</p>
            <small>{{ testimonio.author_info }}</small> -->
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myTestimonials" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myTestimonials" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
