<section class="post-grids-6">
	<!-- /post-courses-->
	<div class="post-6-mian">
		<div class="container py-lg-5">
			<h2 class="hny-title text-center mb-0 ">Courses</h2>
      <p class="mb-4 text-center">Educate yourself to be tomorrow's industry.</p>
			<div class="card-columns mt-3" *ngIf="resources && resources.length else empty">
				<div class="card grids5-info column-img" *ngFor="let course of resources">
					<a target="_blank" [href]="course.link">
						<figure>
              <img class="img-fluid" [src]="course.image_url" [alt]="course.title">
						</figure>
					</a>
					<div class="blog-thumbhny-caption">
						<ul class="blog-info-list" style="padding-inline-start: 0;">
							<li>{{ course.author }}</li>
							<li class="ml-auto date-post">{{ course.date | date }}</li>
						</ul>
            <h4><a target="_blank" [href]="course.link">{{ course.title }}</a></h4>
            <p class="mb-0">{{ course.description }}</p>
					</div>
        </div>
      </div>
     
      <ng-template #empty>
        <p class="mb-5 text-center">There are no courses to show.</p>
      </ng-template>
		</div>
	</div>
</section>
