<!-- team -->
<section class="mt-3 mb-2 mb-sm-0">
  <div class="container pt-lg-3 pt-sm-2">
    <div class="title-desc text-center">
      <h3>Videojuegos</h3>
    </div>
    <div class="row pt-2">
      <div class="col-lg-4 col-sm-6 mb-2 mb-md-4" *ngFor="let game of games">
        <div class="videogame">
          <img src="{{ game.img }}" class="img-fluid img-thumbnail" alt="{{ game.name }}" />
          <div class="body">
            <h3 class="name">{{ game.name }}</h3>
            <span class="description">{{ game.description }}</span>
            <ul class="links text-center">
              <li><a href="{{ game.link }}"><span><i class="fas fa-link"></i></span></a></li>
              <li><a href="{{ game.video }}"><span><i class="fab fa-youtube"></i></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
