<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel"
        *ngFor="let item of this.data.items; let i = index; let f = first"
        [class.active]="f"
        [attr.data-slide-to]="i">
    </li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item"
        [class.active]='f'
        [ngStyle]="{ 'background-image': 'linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(' + item.image_url + ')'}"
        data-interval="15000"
        *ngFor="let item of this.data.items; let i = index; let f = first">
      <!-- <img src="{{ item.img }}" alt="{{ item.title }}" width="100%" height="100%"> -->
      <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg> -->
      <div class="container">
        <div class="carousel-caption text-left">
          <h1>{{ item.title }}</h1>
          <p>{{ item.text }}</p>
          <a class="btn btn-lg btn-primary" [href]="item.link" target="_blank" role="button">View more</a>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
