<div class="container-fluid"
  [ngClass]="{'py-5':!data.image_url, 'my-5':!data.image_url}">
  <div class="row justify-content-center text-center">
    <div class="col-lg align-self-center py-5 py-lg-0 my-5 my-lg-0"
      [class.order-2]="data.left">
      <h2 class="font-weight-bold">T {{ data.title }}</h2>
      <h4>t {{ data.text }}</h4>
      <a [href]="data.link" class="btn btn-primary btn-lg mt-2" *ngIf="data.link">GO</a>
    </div>
    <div class="col-lg-5 px-0 d-none d-lg-block" *ngIf="data.image_url"
      [class.order-1]="data.left">
      <img [src]="data.image_url" height="auto" width="100%">
    </div>
  </div>
</div>
