.banner-w3layouts-info {
	margin-top: 11em;
}

#search_form form {
	margin: 2em auto 0;
	width: 57%;
}

.banf {
	padding-left: 5px;
	padding-right: 5px;
}

#search_form h3 {
	color: #fff;
	font-size: 0.91em;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
	letter-spacing: 1px;
	font-weight: 600;
}

.banner-w3layouts-info p {
	color: #fff;
	letter-spacing: 9px;
	margin-top: 10px;
}

.search_top input[type="text"] {
	border: 1px solid #ced4da;
    border-radius: 0.25rem;
	color: #777;
	background: #fff;
	outline: none;
	font-size: 0.91em;
	/* padding-left: 2.375rem; */
	-webkit-appearance: none;
	display: inline-block;
	letter-spacing: 1px;
}

.search_top select#opcion1,.search_top select#option2 {
	font-weight: normal;
	border: none;
	outline: none;
	color: #777;
	background: #fff;
	outline: none;
	font-size: 0.91em;
	padding: 1em 1em;
	border: none;
	letter-spacing: 1px;
	margin-right: 2px;
	height: 50px;
	margin-top: 10px !important;
}

.form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.form-control{
	margin-top: 10px;
}
@media (max-width: 767px){
	.search_top input[type="text"], .search_top select#country12, .search_top select#country13 {
		margin-bottom: 0.5em;
	}
}

@media (max-width: 375px){
	.search_top select#country12, .search_top select#country13 {
		font-size: 0.9em;
		padding: 0.5em 0.8em;
		height: 46px;
	}
}

