<div id="search_form" class="search_top text-center">
    <form action="#" method="post" class="ban-form row">
        <div class="col-md-3 banf">
            <!-- Buscar por palabra en la pagina -->
            
            <!-- <span class="fa fa-search fa-xs	form-control-feedback"></span> --> 
            <input class="form-control" type="text" name="Search" placeholder="Search" required="">

        </div>

        <div class="col-md-3 banf">
            <select class="form-control" id="option1">
                <label>Order</label>
                <option>Date</option>
            </select>
        </div>
        <div class="col-md-3 banf">
            <select class="form-control" id="option1">
                <option>Descendente</option>
                <option>Ascendente</option>
            </select>
        </div>
        <div class="col-md-3 banf">
            <button class="btn btn-primary mt-sm-5 mt-4 text-white" style="margin-top: 0.6rem !important; width: 9em; margin-bottom: 1rem;">Search Now</button>
        </div>
    </form>
</div>
