<div id="search_form" class="search_top text-center">
    <form action="#" method="post" class="ban-form row">
        <div class="col-md-3 banf">
            <!-- Buscar por palabra en la pagina -->
            <input class="form-control" type="text" name="Search" placeholder="Search" required="">
        </div>
        <div class="col-md-3 banf">
            <select class="form-control" id="option1">
                <option>Date</option>
            </select>
        </div>
        <div class="col-md-3 banf">
            <select class="form-control" id="option2">
                <option>Descendente</option>
                <option>Ascendente</option>
            </select>
        </div>
        <div class="col-md-3 banf">
            <input class="form-control" type="submit" value="Search now">
        </div>
    </form>
</div>
