<footer class="footer text-white bg-dark pt-1">
  <!-- <div style="background-color: #6351ce;">
    <div class="container">
      <div class="row py-4 d-flex align-items-center">

        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>

        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <a class="fb-ic"><i class="fab fa-facebook-f white-text mr-4"> </i></a>
          <a class="tw-ic"><i class="fab fa-twitter white-text mr-4"> </i></a>
          <a class="li-ic"><i class="fab fa-linkedin-in white-text mr-4"> </i></a>
          <a class="ins-ic"><i class="fab fa-instagram white-text"> </i></a>
        </div>
      </div>
    </div>
  </div> -->

  <div class="container pt-2 text-center text-md-left mt-5">
    <div class="row mt-3">

      <div class="col-md-4 col-lg-5 col-xl-4 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Videogames</h6>
        <hr class="primary accent-2 mb-3 mt-0 d-inline-block mx-auto">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

        <h6 class="text-center text-md-left mt-4 mb-2 mb-md-0 font-weight-bold">Agréganos en redes sociales!</h6>
        <div class="row pb-4 pt-2 d-flex align-items-center">

          <div class="col text-center text-md-left">
            <a class="icon"><i class="fab fa-facebook-f mr-4"> </i></a>
            <a class="icon"><i class="fab fa-twitter mr-4"> </i></a>
            <a class="icon"><i class="fab fa-linkedin-in mr-4"> </i></a>
            <a class="icon"><i class="fab fa-instagram"> </i></a>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Links</h6>
        <hr class="primary accent-2 mb-3 mt-0 d-inline-block mx-auto">
        <p><a routerLink="/home">Home</a></p>
        <p><a routerLink="/studios">Estudios</a></p>
        <p><a routerLink="/home/events">Eventos</a></p>
        <p><a routerLink="/home/contact">Contáctanos</a></p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase font-weight-bold">Contáctanos</h6>
        <hr class="primary accent-2 mb-3 mt-0 d-inline-block mx-auto">
        <p><span><i class="fas fa-building mr-3"></i></span> Kra 54 # 68 - 169</p>
        <p><span><i class="fas fa-envelope mr-3"></i></span> info@example.com</p>
        <p><span><i class="fas fa-phone mr-3"></i></span> 355-555-555</p>

        <!-- <div class="row pt-3 d-flex align-items-center">

          <div class="col-auto ml-3">
            <a class="icon"><i class="fab fa-facebook-f mr-4"> </i></a>
            <a class="icon"><i class="fab fa-twitter mr-4"> </i></a>
            <a class="icon"><i class="fab fa-instagram"> </i></a>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a routerLink="/home"> pf-videogames.co</a>
  </div>
</footer>

<!-- <footer class="bg-dark text-light">
  <span class="icon float-right p-3"><a onclick= "window.scroll(0, 0)" ><i class="far fa-arrow-alt-circle-up"></i></a></span>
  <div class="container pt-5 px-4 pb-1">
    <div class="row align-items-center">
      <div class="col-6">
        <div class="row pb-1">
          <div class="col-6">
            <span class="font-weight-bold">Contact Us</span>
          </div>
        </div>
        <div class="row pb-3">
          <div class="col-6">
            <a href="#">info@info.co</a>
          </div>
        </div>
        <div class="row pb-1">
          <div class="col-6">
            <span class="font-weight-bold">Follow Us</span>
          </div>
        </div>
        <div class="row justify-content-start">
          <div class="col">
            <a href="#" class="text-reset pr-2"><span class="icon"><i class="fab fa-facebook"></i></span></a>
            <a href="#" class="text-reset pr-2"><span class="icon"><i class="fab fa-instagram"></i></span></a>
            <a href="#" class="text-reset pr-2"><span class="icon"><i class="fab fa-twitter"></i></span></a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row pb-1">
          <span class="font-weight-bold">Location</span>
        </div>
        <div class="row">
          <span>Cra 54 # 68 - 169</span>
        </div>
        <div class="row">
          <span>Barranquilla, Atlantico</span>
        </div>
        <div class="row">
          <span>Colombia</span>
        </div>
      </div>
    </div>
    <div class="row pt-5">
      <p>&copy; 2020 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </div>
  </div>
</footer> -->
