<footer class="footer text-white bg-dark pt-1" *ngIf="content && content.text else emptyFooter">
  <div class="container pt-md-2 text-center text-md-left mt-5">
    <div class="row mt-3">
      <div class="col-md-4 col-lg-5 col-xl-4 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">{{ title }}</h6>
        <hr class="primary accent-2 mb-3 mt-0 d-inline-block mx-auto">
        <p>{{ content.text }}</p>

        <h6 class="text-center text-md-left mt-4 mb-2 mb-md-0 font-weight-bold">Follow us</h6>
        <div class="row pb-4 pt-2 d-flex align-items-center">
          <div class="col text-center text-md-left">
            <a *ngIf="content.social_networks.length > 1" class="icon" [href]="content.social_networks[2]">
              <i class="fab fa-facebook-f mr-4"></i>
            </a>
            <a class="icon" [href]="content.social_networks[0]">
              <i class="fab fa-twitter mr-4"></i>
            </a>
            <a class="icon" [href]="content.social_networks[1]">
              <i class="fab fa-linkedin-in mr-4"></i>
            </a>
            <a *ngIf="content.social_networks.length > 1" class="icon" [href]="content.social_networks[3]">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Pages</h6>
        <hr class="primary accent-2 mb-3 mt-0 d-inline-block mx-auto">

        <p><a routerLink="/home">Home</a></p>
        <p><a routerLink="/home/about">About us</a></p>
        <p><a routerLink="/studios">Projects</a></p>
        <p><a routerLink="/home/events">Events & News</a></p>
        <p><a routerLink="/home/faq">FAQ</a></p>
        <p><a routerLink="/home/contact">Contact</a></p>

      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase font-weight-bold">Contact us</h6>
        <hr class="primary accent-2 mb-3 mt-0 d-inline-block mx-auto">
        <p><span><i class="fas fa-building mr-3"></i></span> {{ content.address }}</p>
        <p><span><i class="fas fa-envelope mr-3"></i></span> {{ content.email }}</p>
        <p><span><i class="fas fa-phone mr-3"></i></span> {{ content.phone }}</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© {{year}} Copyright:
   <!--  <a routerLink="/home"> {{ content.name }}</a> -->
   <a>Made with ❤️ by 
     <a href="https://github.com/JohnDBR" target="_blank">John, </a><a href="https://github.com/nicolasbuitrago" target="_blank"> Nicolas, </a> & <a href="https://github.com/kristellu" target="_blank"> Kristell </a>
  </a>
  </div>
</footer>

<ng-template #emptyFooter>
  <footer class="footer text-white bg-dark py-4 px-2" style="min-height: 125px;">
    <p>There is no contact information to display on the footer.</p>
  </footer>
</ng-template>
