@import '~styles/abstracts/_variables.scss';

// a:hover {
//   cursor:pointer;
// }

// footer{
//   bottom: 0px;
// }

// span.icon {
//   font-size: 2rem;
// }

.footer-copyright {
  background-color:  rgba(60, 60, 60, 0.2);
}

.primary {
  background-color: $primary;
  width: 100%;
  height: 2px;
}

a.icon {
  font-size: 1.6rem;
  color: $normal;
}

a.icon:hover {
  color: $primary;
}
