<!-- <app-carousel [data]="items"></app-carousel> -->
<ng-template appItemHost>

</ng-template>
<div class="container">
  <div class="row align-items-center"  style="height: 30rem;">
    <div class="col text-center">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus aliquam sit quis reprehenderit, odit pariatur quia modi at ullam odio quam repudiandae necessitatibus magnam ut corrupti iure inventore, magni eos. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores pariatur architecto dolorem vitae autem nostrum cumque amet ducimus optio itaque, voluptates, fugit sit omnis aperiam ex facere et dicta quo?</p>
    </div>
  </div>
</div>
<!-- <app-testimonios [data]="testimonios"></app-testimonios> -->
<!-- <app-games></app-games> -->
