<app-nav-bar></app-nav-bar>
<main class="container py-5 text-center full-page">
  <div class="row align-items-center">
    <div class="col-md-5">
      <!-- <span class="sad"><i class="far fa-times-circle"></i></span> -->
      <a >
        <img src="/assets/not-found.png" width="100%" height="auto">
      </a>
    </div>
    <div class="col-md-7 align-self-center">
      <h2 class="font-weight-bold">Page not found</h2>
      <h3>The page you are trying to access is not valid.</h3>
    </div>
  </div>
</main>
<app-footer></app-footer>
