<div class="container-fluid" *ngIf="!data.bgImg"
  [ngClass]="{'py-5':!data.image_url, 'my-5':!data.image_url}"> <!--, 'container-fluid':!data.full_width, 'container':data.full_width -->
  <div class="row justify-content-center text-center" *ngIf="!data.full_width">
    <div class="col-lg align-self-center py-5 py-lg-0 my-5 my-lg-0"
      [class.order-2]="data.left">
      <h2 class="font-weight-bold">{{ data.title }}</h2>
      <h4>{{ data.text }}</h4>
      <a [href]="data.link" class="btn btn-primary btn-lg mt-2" *ngIf="data.link">GO</a>
    </div>
    <div class="col-lg-5 px-0 d-none d-lg-block" *ngIf="data.image_url"
      [class.order-1]="data.left">
      <img [src]="data.image_url" height="auto" width="100%">
    </div>
  </div>
  <div class="container" *ngIf="data.full_width">
    <div class="col-lg-5 px-0 d-none d-lg-block" *ngIf="data.image_url"
      [class.order-2]="!data.left">
      <img [src]="data.image_url" height="auto" width="100%">
    </div>
    <div class="col-lg-7 bg-gray">
      <div class="container">
        <div class="col-lg align-self-center py-5 py-lg-0 my-5 my-lg-0"
          [class.order-1]="!data.left">
          <h2 class="font-weight-bold">{{ data.title }}</h2>
          <h4>{{ data.text }}</h4>
          <a [href]="data.link" class="btn btn-primary btn-lg mt-2" *ngIf="data.link">GO</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-overlay" *ngIf="data.bgImg"
  [ngStyle]="{ 'background-image': 'linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url(' + data.image_url + ')'}">
	<div class="row justify-content-center text-center">
    <h1 class="font-weight-bold">{{ data.title }}</h1>
  </div>
  <div class="row justify-content-center text-center pt-3">
    <h4>{{ data.text }}</h4>
  </div>
  <div class="row justify-content-center pt-3" *ngIf="data.link">
    <a class="btn btn-primary btn-lg">Go</a>
  </div>
</div>
