@import '~styles/abstracts/_variables.scss';

.abt-icon {
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  -webkit-box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78);
  -moz-box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78);
  box-shadow: 1px 15px 17px 0px rgba(180, 167, 167, 0.78);
  border-radius: 50%;
  background: $primary;
}

span.abt-icon {
  font-size: 1.5em;
  color: #fff;
}

.abt-txt h4 {
  text-transform: capitalize;
  font-size: 1.15em;
  margin-bottom: 0.5em;
}

.abt-txt {
  margin-left: 1em;
}

.slide-banner {
  background: url('https://source.unsplash.com/1550x611/?videogame') no-repeat center;
  background-size: cover;
  min-height: 485px;
  // height: 100%;
}

.bg-abt {
  background: #efefef;
  padding: 2em 1.5em;
}

.light-bg {
  background: #efefef;
}

h4.main-title {
  text-transform: capitalize;
  font-size: 1.6em;
  color: #000;
}

// .w3lspvt-about-grids h4 {
//   text-transform: capitalize;
//   font-weight: 600;
//   color: $primary;
//   font-size: 1.3em;
// }

// .w3lspvt-about-grids span.fa {
//   width: 70px;
//   height: 70px;
//   line-height: 70px;
//   border-radius: 50%;
//   border: 1px solid $primary;
//   margin-bottom: 1em;
//   font-size: 1.5em;
// }
