<app-nav-bar></app-nav-bar>
<main class="full-page">
  <section>
    <div class="container pt-sm-5 pt-4">
      <h2 class="mb-md-4 text-center">Acerca de nosotros</h2>
      <div class="row no-gutters">
        <div class="col-lg-5">
            <div class="slide-banner d-none d-lg-block"></div>
        </div>
        <div class="col-lg-7">
          <div class="bg-abt light-bg">
            <div class="container">
              <div class="title-desc  pb-sm-3">
                  <h3 class="main-title">Misión</h3>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
              </div>
              <div class="row flex-column mt-3">
                <div class="abt-grid">
                  <div class="row">
                    <div class="col-sm-3 mb-3 mb-sm-0">
                      <!-- <div class="abt-icon"> -->
                      <span class="abt-icon"><i class="far fa-calendar-check"></i></span>
                      <!-- </div> -->
                    </div>
                    <div class="col-sm-9 pl-sm-0">
                      <div class="abt-txt ml-sm-0">
                        <h4>Lorem ipsum</h4>
                        <p>Lorem ipolor sit amet, no sea takimata sanctus est Loremsum dolor sit amet, adipisicing elit.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="abt-grid mt-3 pt-lg-2">
                  <div class="row">
                    <div class="col-sm-3 mb-3 mb-sm-0">
                      <!-- <div class="abt-icon"> -->
                      <span class="abt-icon"><i class="fas fa-chart-line"></i></span>
                      <!-- </div> -->
                    </div>
                    <div class="col-sm-9 pl-sm-0">
                      <div class="abt-txt ml-sm-0">
                        <h4>Lorem ipolor sit amet</h4>
                        <p>
                          Lorem ipsum dolorsita.Lorem ipsum dolor sit amet,sed diam nonumy eirmod tempor invidunt ut labore et dolore
                          magna aliquyam erat, At vero eos et accusam et justo duo dolores et earebum. Lorem ipsum dolor sit amet,
                          no sea takimata sanctus est Lorem ipsum dolor sit amet. Stet clita kasd gubergren.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pb-lg-5 mt-3">
    <div class="container pb-md-5 pb-4">
      <div class="row flex-row-reverse no-gutters">
        <div class="col-lg-5">
          <div class="slide-banner d-none d-lg-block">
          </div>
        </div>
        <div class="col-lg-7">
          <div class="bg-abt">
            <div class="container">
              <div class="title-desc  pb-sm-3">
                <h3 class="main-title">Visión</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
              </div>
              <div class="row flex-column mt-3">
                <div class="abt-grid">
                  <div class="row">
                    <div class="col-sm-3 mb-3 mb-sm-0">
                      <!-- <div class="abt-icon"> -->
                      <span class="abt-icon"><i class="far fa-calendar-check"></i></span>
                      <!-- </div> -->
                    </div>
                    <div class="col-sm-9 pl-sm-0">
                        <div class="abt-txt ml-sm-0">
                            <h4>Lorem ipsum sanctus</h4>
                            <p>Lo sea takimata sanctus est Lorem ipolor sit amet, no sea takimata
                                sanctus est Loremsum dolor sit amet.</p>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="abt-grid mt-3 pt-lg-2">
                  <div class="row">
                    <div class="col-sm-3 mb-3 mb-sm-0">
                      <!-- <div class="abt-icon"> -->
                      <span class="abt-icon"><i class="fas fa-chart-line"></i></span>
                      <!-- </div> -->
                    </div>
                    <div class="col-sm-9 pl-sm-0">
                      <div class="abt-txt ml-sm-0">
                        <h4> Lorem ipolor sit amet</h4>
                        <p>
                          Lorem ipsum dolorsita.Lorem ipsum dolor sit amet,sed diam nonumy eirmod tempor invidunt ut labore et dolore
                          magna aliquyam erat, At vero eos et accusam et justo duo dolores et earebum. Lorem ipsum dolor sit amet,
                          no sea takimata sanctus est Lorem ipsum dolor sit amet. Stet clita kasd gubergren.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
