.card-header {
  padding: 0px;

  button.btn {
    padding-top: 0.375rem;
    padding-right: 1rem;
    padding-bottom: 0.375rem;
    padding-left: 0.85rem;
    border: none;
  }
}

span.icon {
  font-size: 1.8rem;;
}
