<div class="new-w3ls bg-light" id="new">
  <div class="container py-xl-5 py-lg-3">
    <h2 style="font-weight: bold;">News</h2>
    <br>
    <div class="row package-grids" *ngIf="resources && resources.length else empty">
      <div class="col-md-4 new-w3" *ngFor="let newitem of resources">
        <div class="news-top">
          <a [href]="newitem.link">
            <img [src]="newitem.image_url" alt="" class="img-fluid" width="100%" height="auto">
          </a>
        </div>
        <div class="news-bottom p-4 bg-white">
          <h4 class="text-dark mb-3">{{ newitem.title }}</h4>
          <h3 class="my-3">{{ newitem.date }}</h3>
          <a [href]="newitem.link">
            <i class="far fa-newspaper mr-2"></i>{{ newitem.description}}
          </a>
        </div>
      </div>
    </div>
    <ng-template #empty>
      <p>There is no news to show.</p>
    </ng-template>
    <div class="text-center">
      <!-- <a href="#" class="btn button-style mt-sm-5 mt-4">Read More</a> -->
    </div>
  </div>
</div>
<!-- <p>{{resources | json}}</p> -->
<!-- News -->
