<div class="new-w3ls bg-light pb-3" id="new">
  <div class="container py-xl-5 py-lg-3">
    <h2 style="font-weight: bold;">News</h2>
    <br>
    <div class="row package-grids" *ngIf="resources && resources.length else empty">
      <div class="col-md-4 new-w3" *ngFor="let newitem of news">
        <div class="news-top">
          <a [href]="newitem.link">
            <img [src]="newitem.image_url" alt="" class="img-fluid" width="100%" height="auto">
          </a>
        </div>
        <div class="news-bottom p-4 bg-white">
          <h4 class="text-dark mb-3">{{ newitem.title }}</h4>
          <h3 class="my-3">{{ newitem.date }}</h3>
          <a [href]="newitem.link">
            <i class="far fa-newspaper mr-2"></i>{{ newitem.description}}
          </a>
        </div>
      </div>
    </div>
    <ng-template #empty>
      <p>There is no news to show.</p>
    </ng-template>

    <div class="button-row mt-3 mt-md-4">
     <button routerLink="/home/all-news" mat-raised-button color="primary">All News</button>
      <!-- <button (click)="loadMore()" class="btn btn-primary mt-sm-5 mt-4 text-white" [disabled]="counter >= resources.length">Read More</button> -->
      <button mat-raised-button (click)="openDialog()" color="accent">Suggest a New</button>
    </div>
  </div>
</div>
<!-- <p>{{resources | json}}</p> -->
<!-- News -->
