<div class="new-w3ls bg-light pb-3" id="new">
  <div class="container py-xl-5 py-lg-3">
    <h2 style="font-weight: bold;">News</h2>
    <br>
    <div class="row package-grids" *ngIf="resources && resources.length else empty">
      <div class="col-md-4 new-w3" *ngFor="let newitem of news">
        <div class="news-top">
          <a target="_blank" [href]="newitem.link">
            <img [src]="newitem.image_url" alt="" class="img-fluid" width="100%" height="auto">
          </a>
        </div>
        <div class="news-bottom p-4 bg-white">
          <a [href]="newitem.link" target="_blank" *ngIf="newitem.link">
            <h4 class="text-dark mb-3">{{ newitem.title }}</h4>
          </a>
          <a [routerLink]="['../new',newitem.id]" target="_blank" *ngIf="!newitem.link">
            <h4 class="text-dark mb-3">{{ newitem.title }}</h4>
          </a>
          <h3 class="my-3">{{ newitem.date }}</h3>
          <i class="far fa-newspaper mr-2"></i>{{ newitem.description}}
        </div>
      </div>
    </div>
    <ng-template #empty>
      <p>There are no news to show.</p>
    </ng-template>

    <div class="conatiner mt-3 mt-md-4 pb-3">
      <div class="row justify-content-center">
        <!-- <button routerLink="/home/news" mat-raised-button color="primary">All News</button> -->
        <a routerLink="/home/news"  class="btn btn-primary btn-lg mt-3 mb-5">All News</a>

      </div>
      <!-- <button (click)="loadMore()" class="btn btn-primary mt-sm-5 mt-4 text-white" [disabled]="counter >= resources.length">Read More</button> -->
      <!-- <button mat-raised-button (click)="openDialog()" color="accent">Suggest a New</button> -->
    </div>
  </div>

</div>

<!-- <p>{{resources | json}}</p> -->
<!-- News -->
