<section class="contact-section py-sm-3 py-2 mb-5 full-page" id="contact" *ngIf="data">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h5 class="cont-form"> </h5>
        <div class="contact-form">
          <form [formGroup]="getForm" (ngSubmit)="contactEmail()" class="register"
            [class.was-validated]="isSubmitted">
            <div class="form-group">
              <label>Name</label>
              <input class="form-control" type="text" placeholder="John Doe" formControlName="name" required>
              <div class="invalid-feedback" *ngIf="getForm.controls.name.hasError('required')">
                Field required
              </div>
            </div>
            <div class="form-group">
              <label>Phone number</label>
              <input class="form-control" type="text" placeholder="30030330" formControlName="phone" required>
              <div class="invalid-feedback" *ngIf="getForm.controls.phone.hasError('required')">
                Field required
              </div>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input class="form-control" type="email" placeholder="example@email.com" formControlName="email" required>
              <div class="invalid-feedback" *ngIf="getForm.controls.email.hasError('required') || getForm.controls.email.hasError('email')">
                Email required
              </div>
            </div>
            <div class="form-group">
              <label>Message</label>
              <textarea placeholder="How we can help you." class="form-control" formControlName="message" required></textarea>
              <div class="invalid-feedback" *ngIf="getForm.controls.message.hasError('required')">
                Field required
              </div>
            </div>
            <div class="form-group mb-0">
              <button class="btn btn-primary btn-block bg-theme text-white w-100 font-weight-bold text-uppercase">Send</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-5 text-center">
        <h5 class="cont-form"> </h5>
        <div class="row flex-column">
          <div class="contact">
            <div class="icon mb-3"><i class="fas fa-building"></i> Address </div>
            <address>{{ data.addresses[0] }}<br>{{ data.addresses[1] }}<br> Colombia.</address>
          </div>
          <div class="contact my-4">
            <div class="icon mb-3"><i class="fas fa-phone"></i> Phone number </div>
            <div class="d-flex flex-column">
              <p>{{ data.phones[0] }}</p>
              <p *ngIf="data.phones.length > 1">{{ data.phones[1] }}</p>
            </div>
          </div>
          <div class="contact">
            <div class="icon mb-3"><i class="far fa-envelope"></i> Email</div>
            <div class="d-flex flex-column">
              <a href="mailto:{{data.emails[0]}}" class="d-block">{{data.emails[0]}}</a>
              <a *ngIf="data.emails.length > 1" href="mailto:{{data.emails[1]}}" class="my-2 d-block">{{data.emails[1]}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mx-auto text-center mt-lg-0 mt-4" *ngIf="data.map_url">
      <iframe class="mt-lg-4 contact-form"
        [src]="data.map_url | safe"
        allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
</section>
