<div class="container py-xl-5 py-lg-3 py-4 mb-4">
  <h3 class="my-sm-4 my-3 text-dark text-center font-weight-bold">Our Team Members</h3>
  <div class="row mt-3" *ngIf="resources && resources.length else empty" >
    <div class="col-md-4" *ngFor="let mentor of resources" style="padding-bottom: 10px;">
      <div class="box">
        <!-- <img [src]="mentor.image_url" class="img-fluid rounded-lg"> -->
        <img src="https://source.unsplash.com/600x600/?videogame" class="img-fluid rounded-lg">
        <div class="box-content">
          <h3 class="title">{{ mentor.name }}</h3>
          <span class="post font-weight-bold">{{ mentor.role }}</span>
          <ul class="social">
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <ng-template #empty>
    <p class="mb-5">There are no members to show.</p>
  </ng-template>
</div>
