<app-nav-bar [fixed]="true"></app-nav-bar>
<app-page-title title="News"></app-page-title>

<main class="full-page">
  <!-- CONTENIDO DE UNA NOTICIA -->
  <div class="container">
    <div class="row" >
      <div class="content-top col-md-8 pb-4">
        <div class="single">
          <div class="single-top" *ngIf="newItem else empty">
            <h1 class="title-blog"> {{ newItem.title }}</h1>
            <div class="info-blog">
              <ul class="pl-1">
                <li class="mr-3"><span class="mr-1"><i class="far fa-newspaper mr-2"></i>{{ newItem.date }}</span></li>
                <li *ngIf="newItem.contact_information || newItem.user">
                  <span class="mr-1">
                    <i class="far fa-user mr-2" color="primary"></i>
                    By {{ newItem.contact_information ? newItem.contact_information.name : newItem.user.username }}
                  </span>
              </li>
              </ul>
            </div>
            <img class="img-fluid blog-image rounded-lg" [src]="newItem.image_url">
            <p class="text-justify mb-4">{{newItem.full_text}}</p>
          </div>
        </div>
        <disqus [identifier]="disqusId" [url]="url"></disqus>
      </div>
      <div class="content-top col-md-4 pb-4" style="margin-top: 5%;">
        <div class="w3l-subscription-6">
          <!--/register -->
          <div class="subscription-infhny">
            <div class="container-fluid">
              <div class="subscription-grids row">
                <div class="subscription-right form-right-inf ">
                  <div class="p-lg-2 ">
                    <h3 class="hny-title">Be part of <span>LitiaCaribe</span></h3>
                      <p>Sign up and upload your content!</p>
                    <form action="#" method="post" class="signin-form mt-4">
                      <div class="forms-gds">
                        <div class="form-input">
                          <input type="email" #email placeholder="Your email here">
                        </div>
                        <div class="form-input">
                          <a class="btn text-center" [href]="apiUrl + email.value"><span class="mt-2">Join</span></a>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="subscription-left forms-25-info col-lg-6 ">
                </div>
              </div>
              <!--//customers -->
            </div>
          </div>
          <h3 class="subtitle mb-2">Others news</h3>
          <!--/general-news-->
          <div class="general-news" *ngIf="otherNews && otherNews.length else emptyNews">
            <div class="general-inner rounded-lg border mb-2" *ngFor="let otherNew of otherNews">
              <a [href]="otherNew.link" target="_blank" *ngIf="otherNew.link"><img [src]="otherNew.image_url" class="img-fluid rounded-lg" [alt]="otherNew.title"></a>
              <a routerLink="{{otherNew.id}}" *ngIf="!otherNew.link"><img [src]="otherNew.image_url" class="img-fluid rounded-lg" [alt]="otherNew.title"></a>
              <div class="general-text">
                <h5 class="top">
                  <a [href]="otherNew.link" target="_blank" *ngIf="otherNew.link">{{ otherNew.title }}</a>
                  <a routerLink="{{otherNew.id}}" *ngIf="!otherNew.link">{{ otherNew.title }}</a>
                </h5>
                <p class="mb-0">{{ otherNew.date | date }}</p>
                <p class="mb-0">{{ otherNew.description }}</p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row justify-content-center">
              <a  routerLink="/home/news" class="read-more btn mx-auto">All news</a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <ng-template #emptyNews>
      <p class="text-center mt-4 py-3">There is no news to show.</p>
    </ng-template>
  </div>

  <ng-template #empty>
    <p class="text-center mt-4 py-3">There is no new to show.</p>
  </ng-template>

</main>

<app-spinner [loading]="isLoading"></app-spinner>

<app-footer></app-footer>
