<h1 mat-dialog-title> New Event </h1>
<p> Be part of the LitiaCaribe community and add an event that involves the cluster!</p>
<mat-horizontal-stepper linear #stepper>
  <!-- Generalidades del evento -->
  <mat-step [stepControl]="generalInfo" errorMessage="Info is required.">
    <form [formGroup]="generalInfo">
      <ng-template matStepLabel>Event information</ng-template>
      <mat-form-field class="full-width">
        <mat-label>Name of the event</mat-label>
          <input matInput placeholder="Title" 
          formControlName="firstCtrl" required>
      </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Description</mat-label>
            <textarea matInput #message maxlength="170" placeholder="Bootcamp for all..." 
              formControlName="firstCtrl" required></textarea>
              <mat-hint align="end">{{message.value.length}} / 170</mat-hint>
        </mat-form-field> 
        <mat-form-field>
          <mat-label>Place</mat-label>
            <input matInput placeholder="Address" 
            formControlName="firstCtrl" required>
          </mat-form-field>
        <mat-form-field style="padding-left: 2%;">
          <mat-label>Date</mat-label>
          <input matInput formControlName="firstCtrl" [matDatepicker]="dp3" required>
          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>
        <div class="button-row">
            <button mat-button matStepperNext>Next</button>
        </div>
    </form>
  </mat-step>
  <!-- Envío de información -->
  <mat-step>
    <ng-template matStepLabel>Send suggestion</ng-template>
    <p>Are you sure you want to send this event?</p>
    <br>
    <div class="button-row">
      <!-- <button mat-button [mat-dialog-close]="model.info" cdkFocusInitial> Enviar </button> -->
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button  cdkFocusInitial> Send </button>
      <button mat-button (click)="onNoClick()">Cancel</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
