<div class="my-4 py-4">
  <h2 class="mb-md-4 text-center">Sponsors</h2>
  <section class="partners pb-4">
    <div class="container">
      <div class="row partner-grids text-center">
        <div class="col-sm-2 col-4">
          <a href="#"><i class="fab fa-angrycreative fa-5x"></i></a>
        </div>
        <div class="col-sm-2 col-4">
          <a href="#"><i class="fab fa-apper fa-5x"></i></a>
        </div>
        <div class="col-sm-2 col-4">
          <a href="#"><i class="fab fa-apple-pay fa-5x"></i></a>
        </div>
        <div class="col-sm-2 col-4">
          <a href="#"><i class="fab fa-aviato fa-5x"></i></a>
        </div>
        <div class="col-sm-2 col-4">
          <a href="#"><i class="fab fa-aws fa-5x"></i></a>
        </div>
        <div class="col-sm-2 col-4">
          <a href="#"><i class="fab fa-amazon-pay fa-5x"></i></a>
        </div>
      </div>
    </div>
  </section>
  <p>{{resources | json}}</p>
</div>
